
 .sidebar .scroll{
  max-height: 180px ;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  
 
}


.sidebar .scroll::-webkit-scrollbar{
    width: 10px !important;
    
   
    
}
.sidebar .scroll::-webkit-scrollbar-thumb{
   background-color:#a4b0be !important;
   border-radius: 6px !important;
   
   
}

.sidebar .scroll::-webkit-scrollbar-track{
  background:#d1d8e0;
  border-radius: 6px !important;
 
}



/* ::-webkit-scrollbar{
  width: 122px !important;
  height: 55px  !important;
} */
/* ::-webkit-scrollbar-thumb{
  background: #1b73d8;
} */
