
#dropDownMenu ul a:hover{
  color: rgb(239 68 68);
}


#dropDownMenu{
  transform: translateY(30px);
  transition:transform .7s;
  z-index: 10;
}

 #fashionMenu:hover + #dropDownMenu{
    visibility: inherit;
    opacity:1;
    transform: translateY(0px);
   
   
}

 #allBrandMenu:hover + #dropDownMenu{
    visibility: inherit;
    opacity:1;
    transform: translateY(0px);
   
}
 #moreMenu:hover + #dropDownMenu{
    visibility: inherit;
    opacity:1;
    transform: translateY(0px);
   
}



