.newStatus{
    transform: translateX(-40px);
    transition:transform .4s;
  
}
.imgWrapper:hover .newStatus {
    opacity: 1 !important;
    transform: translateX(0px);
}


.heartSvg{
    transform: translateY(-40px);
    transition:transform .5s;
   
  }
  .zoomSvg{
    transform: translateY(-40px);
    transition:transform .5s;
   
  }
  
  .imgWrapper:hover .heartSvg,  .imgWrapper:hover  .zoomSvg{
      opacity:1;
      transform: translateY(0px);
     
    
  }


  .size.selected{
    background-color: #6d4aae;
    border: none;
    color: white;
  }
 