@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

 body{
  overflow-x: hidden;
 
} 


.swiper-button-prev, .swiper-button-next{
   width: 35px !important;
   max-width: 35px !important;
   height:35px !important;
   border-radius:15% !important;
   background-color: #e84118 !important;
   box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
   
}

.swiper-button-prev::after, .swiper-button-next::after{
  font-size: 17px !important;
  color: #ffffff !important;
 
}

