@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

 body{
  overflow-x: hidden;
 
} 


.swiper-button-prev, .swiper-button-next{
   width: 35px !important;
   max-width: 35px !important;
   height:35px !important;
   border-radius:15% !important;
   background-color: #e84118 !important;
   box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
   
}

.swiper-button-prev::after, .swiper-button-next::after{
  font-size: 17px !important;
  color: #ffffff !important;
 
}

/* for scroll bar css */
::-webkit-scrollbar{
  width: 10px !important;
  height: 5px  !important;
}
::-webkit-scrollbar-thumb{
  background: #ff5e57;
}
::-webkit-scrollbar-track{
  background: #ffffff;
}


.swiper-button-disabled {
  opacity: 0.5; 
  pointer-events: auto; 
  cursor: pointer; 
}

button.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.css-121v88n-MuiButtonBase-root-MuiTab-root{
  color: #1e272e ;

}
button.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.css-121v88n-MuiButtonBase-root-MuiTab-root:hover{
  color: #ff3f34 !important;
}

.css-121v88n-MuiButtonBase-root-MuiTab-root.Mui-selected{
  color: #198cb7 !important;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeSmall.css-120dh41-MuiSvgIcon-root{
  font-size: 34px !important;
}

/* for product list */
.MuiSvgIcon-root{
  font-size: 20px !important; 
  stroke-width: 0.2 !important; 
  color: rgba(0, 0, 0, 0.6)  !important;
 
}

.MuiRadio-root.Mui-checked .MuiSvgIcon-root{
  color: rgb(25, 118, 210)  !important;
}

/* for product list collapse */
.ReactCollapse--collapse {
  transition: height 400ms;
}

.css-rizt0-MuiTypography-root{
  font-size: 18px !important;
}